#root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App {
  text-align: center;
  width: 1000px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.input-container>textarea {
  width: 40%;
  height: 150px;
}

.convert-button {
  height: 50px;
}

header {
  display: flex;
  justify-content: flex-end;
}

header>a {
  padding: 10px 15px;
}

